<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - myapp</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/awesome.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    <script src="/static/js/awesome.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
    <div class='nav-1'>
    <header>
    <nav class="navbar nav-pills" role="navigation">
        <div class="container-fluid tnav"> 
            <div class="navbar-header">
                 <a class="navbar-brand nav-links" href="/home">CODESAME</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-left nav-links">
                    <li class='nav-links'><a target="_blank" href="/api/service/checkstr"><i class="glyphicon glyphicon-cloud"></i>测试</a></li>
                    <li class='nav-links'><a target="_blank" href="/api/service/checkfile"><i class="glyphicon glyphicon-cloud"></i>服务</a></li>
                    <li class='nav-links'><a target="_blank" href="/api/service/info"><i class="glyphicon glyphicon-list-alt"></i>说明</a></li>
                </ul>
                {% if __user__ %}
                <ul class="nav navbar-nav navbar-left nav-links">
                    <li class="dropdown nav-links">
                        <a href="/" class="dropdown-toggle nav-links" data-toggle="dropdown"><i class="glyphicon glyphicon-user" ></i> {{ __user__.name }}</a>
                        <ul class="dropdown-menu nav-links">
                            <li class='nav-links'><a href="/signout"><i class="glyphicon glyphicon-log-out"></i> 登出</a></li>
                            {% if __user__.admin %}
                            <li class='nav-links'><a href="/manage/" target="_blank"><i class="glyphicon glyphicon-wrench"></i>管理</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav">
                    <li><a href="/login"><i class="glyphicon glyphicon-log-in"></i> 登陆</a></li>
                    <li><a href="/register"><i class="glyphicon glyphicon-pencil"></i> 注册</a></li>
                </ul>
                {% endif %}
            </div>
    </nav>
    </header>
    </div>
    <div class='container'>
        <!-- content -->
        {% block content %}
        {% endblock %}
        <!-- // content -->
    </div>
</body>
</html>
