{% extends '__base__.html' %}

{% block title %}CODESAME{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}
<div class="container">
    <div class="col-lg-8">
    {% for blog in blogs %}
        <article class='blo'>
            <h2><a href="/blog/{{ blog.id }} " style='color:black'>{{ blog.name }}</a></h2>
            <p style='color:#00DDDD'>发表于{{ blog.created_at|datetime }}</p>
            <p style='color:#00DDDD'>{{ blog.summary }}</p>
            <p><a href="/blog/{{ blog.id }} " style='color:#FF8888'>继续阅读</a></p>
        </article>
        <hr class='thr'>
    {% endfor %}
    </div>
    <div class="col-lg-2 tpanel">
        <div class="panel">
            <h3 class="panel-title th3">友情链接</h3>
            <ul class="list">
                <li><i class="glyphicon glyphicon-thumbs-up"></i> <a href="http://huasacm.cn" target="_blank">HUASOJ</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
