{% extends '__base__.html' %}

{% block title %}登录{% endblock %}

{% block beforehead %}

<script>
$(function() {
    var vmAuth = new Vue({
        el: '#vm',
        data: {
            email: '',
            passwd: ''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var
                    $form = $('#vm'),
                    email = this.email.trim().toLowerCase(),
                    data = {
                        email: email,
                        passwd: this.passwd==='' ? '' : CryptoJS.SHA1(email + ':' + this.passwd).toString()
                    };

                $form.postJSON('/api/authenticate', data, function(err, result) {
                    if (! err) {
                        location.assign('/home');
                    }
                });
            }
        }
    });
});
</script>

{% endblock %}

{% block content %}

    <div class="container blo">
        <legend>欢迎登录！</legend>
        <form id="vm" v-on="submit:submit" class="form-horizontal center" role="form">
            <div class="alert alert-danger hidden"></div>
            <div class="form-group">
                <label for="email" class="control-label col-lg-1"><i class="glyphicon glyphicon-envelope"></i></label>

                <div class="col-lg-5">
                    <input id="email" v-model="email" type="text" placeholder="输入邮箱" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="passwd" class="control-label col-lg-1"><i class="glyphicon glyphicon-lock"></i></label>
                <div class="col-lg-5">
                    <input id="passwd" v-model="passwd" type="password" placeholder="输入密码" class="form-control">
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="form-group col-lg-4">
                <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-log-in"></i>登录</button>
            </div>
        </form>
    </div>

{% endblock %}
