{% extends '__base__.html' %}

{% block title %}服务{% endblock %}

{% block beforehead %}

<script>
$(function() {
    $('#vm').hide();
    $('#ad').hide();
    var vmAuth = new Vue({
        el: '#tm',
        methods: {
            submit: function(event) {
                event.preventDefault();
                var 
                    $form = $('#tm'),
                    formData = new FormData($('#tm')[0]);
                    console.log(formData.get('file'));
                $('#ad').show();
                $form.postJSON('/api/service/codefile', formData, function(err, result) {
                    if(!err){
                        console.log(result.file);
                        initVM(result.file);
                    }
                },true);
            }
        }
    });
});
function initVM(data) {
    $('#vm').show();
    $('#ad').hide();
    var vm = new Vue({
        el: '#vm',
        data: {
            tdata: data
        },
        methods: {
            showcontent:function(t){
                alert(t.content);
            }
        }
    });
}
</script>

{% endblock %}

{% block content %}
<div class="container">
        <form id="tm" enctype='multipart/form-data' accept-charset='utf-8' v-on="submit:submit" class="form-horizontal fc" role="form">
            <div class="alert alert-danger form-group hidden"></div>
            <input id="file" class="btn btn-default upload" type="file" name='file'>
            <button type="submit" value="submit" class="btn btn-default upload"><span class="glyphicon glyphicon-send"></span></button>
        </form>
</div>
<div class="container">
        <hr>
        <p id='ad'>上传成功，请耐心等待结果</p>
        <div id="vm" class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class='th-black'>名单</th>
                        <th class='th-black'>相似者</th>
                        <th class='th-black'>内容</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-repeat="t: tdata">
                        <td>
                            <span v-text="t.name"></span>
                        </td>
                        <td>
                            <span v-text="t.list"></span>
                        </td>
                        <td>
                            <a href="#0" v-on="click: showcontent(t)">
                                <i class="glyphicon glyphicon-file"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--<div v-component="pagination" v-with="page"></div>-->
        </div>
</div>
{% endblock %}
