{% extends '__base__.html' %}

{% block title %}{% endblock %}

{% block beforehead %}

<script>


$(function () {
    var $form = $('#form-comment');
    $form.submit(function (e) {
        e.preventDefault();
        $form.showFormError('');
        var content = $form.find('textarea').val().trim();
        if (content==='') {
            return $form.showFormError('请输入评论内容！');
        }
        $form.postJSON(comment_url, { content: content }, function (err, result) {
            if (err) {
                return $form.showFormError(err);
            }
            refresh();
        });
    });
});
</script>

{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-8">
        <div class="alert alert-danger hidden"></div>
        <article class="article">
            {{ __ans__ }}
            <h2>查询结果</h2>
            {% if is_same %}
            <p>文件相似度极大！</p>
            {% else %}
            <p>文件相似度较小！</p>
            {% endif %}
        </article>
        <hr>
</div>

    <div class="col-md-4">
        <div class="panel panel-header">
            <h3 class="panel-title">友情链接</h3>
            <ul class="list uk-list-line">
                <li><i class="glyphicon glyphicon-thumbs-up"></i> <a href="http://huasacm.cn" target="_blank">HUASOJ</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
